.App {
  min-height: 100vh;
  padding-top: env(safe-area-inset-top);
  position: relative;
  text-align: center;
}

.App > * {
  position: relative;
  z-index: 1;
}

.App-header {
  color: white;
  font-size: 2rem;
  padding-top: 2rem;
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}

.App-countdown {
  color: white;
  font-size: 2rem;
  padding: 0 1rem;
  text-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}

.App-background {
  background: linear-gradient(to top, transparent, rgba(40, 44, 52, 0.5)),
    center / cover url(./background.jpg);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
